<html>
<head>
<title>Admin - Iron Puzzler</title>
<link rel="stylesheet" href="static/style.css">
</head><body><div class="pagecontent">

<h2 style="margin-bottom: 0">
<a href="/">Iron Puzzler</a> &raquo; Administration</h2>

<p style="margin-top: 0; text-indent: -25px">
<em>{{ user_email }}</em>
(<a href="{{ user_logout_url }}">sign out</a>).</p>

<form action="/admin" method="post">
<h3>Secret ingredients</h3>

<p>
1. <input type="text" name="ingredient0" value="{{ game.ingredients.0 }}"> 
2. <input type="text" name="ingredient1" value="{{ game.ingredients.1 }}"> 
3. <input type="text" name="ingredient2" value="{{ game.ingredients.2 }}"> 
<br>
<label>
  <input type="checkbox" name="ingredients_visible" value="true"
    {% if game.ingredients_visible %} checked {% endif %} >
  Make ingredients visible
</label>
</p>

<h3>Teams and puzzles</h3>

<table>
  <tr>
    <td> </td>
    <td>Bonus</td>
    {% for puzzle in puzzles %}
      <td align="center">
        <a href="/puzzle?t={{ puzzle.team.key_id }}&p={{ puzzle.number }}" title="#{{ puzzle.number }} &quot;{{ puzzle.title }}&quot; ({{ puzzle.key_name }}) by {{ puzzle.team.name }}">#{{ puzzle.number }}</a>
      </td>
    {% endfor %}
  </tr>
  {% for team in teams|dictsort:"name" %}
    <tr>
      <td>
        <nobr><a href="/team?t={{ team.key_id }}">{{ team.name }}</a></nobr>
      </td>
      <td>
        <input type="text" size="3" name="bonus.{{ team.key_id }}"
               value="{{ team.bonus|default:0.0 }}">
      </td>
      {% for puzzle in team.puzzles %}
        <td align="center">
          {% if puzzle.team.key_id == team.key_id %}
            <a href="/puzzle?t={{ team.key_id }}&p={{ puzzle.number }}" 
               class="puzzle_author" title="{{ team.name }} wrote #{{ puzzle.number }} &quot;{{ puzzle.title }}&quot;">
              A
            </a>
          {% else %}
            {% if puzzle.solve_rank %}
              <a href="/guess?t={{ team.key_id }}&p={{ puzzle.number }}"
                 class="guess_correct"
                 title="{{ team.name }} solved #{{ puzzle.number }} &quot;{{ puzzle.title }}&quot; {{ puzzle.solve_rank }}&#10;{{ puzzle.solve_time|timesince }} ago ({{ puzzle.guess_count }} attempt{{ puzzle.guess_count|pluralize }})">
                {{ puzzle.solve_rank }}
              </a>
            {% else %} {% if puzzle.guess_count %}
              <a href="/guess?t={{ team.key_id }}&p={{ puzzle.number }}"
                 class="guess_incorrect"
                 title="{{ team.name }} made {{ puzzle.guess_count }} attempt{{ puzzle.guess_count|pluralize }} for #{{ puzzle.number }} &quot;{{ puzzle.title }}&quot;">
                {{ puzzle.guess_count }}x
              </a>
            {% else %}
              <a href="/guess?t={{ team.key_id }}&p={{ puzzle.number }}"
                 class="guess_none">
                --
              </a>
            {% endif %} {% endif %}
          {% endif %}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>

<p>
  <label>Add team: <input type="text" name="new_team" id="add_team" size="25"></label>
  <label>pw: <input type="text" name="new_password" size="10"></label>
</p>

{% if puzzles %}
  <label><input type="checkbox" name="assign_numbers" value="true">
  Scramble and reassign puzzle numbers
  </label>
  (<label><input type="checkbox" name="confirm_numbers" value="true">
  Are you sure?
  </label>)<br>
{% else %}
  {% if teams %}
    <label><input type="checkbox" name="assign_numbers" value="true">
    Assign puzzle numbers to these teams
    </label><br>
    <input type="hidden" name="confirm_numbers" value="true">
  {% endif %}
{% endif %}

<h3>Game State</h3>

<p>

<label><input type="checkbox" name="login_enabled" value="true"
  {% if game.login_enabled %} checked {% endif %} >
Enable team logins
</label><br>
<label><input type="checkbox" name="solving_enabled" value="true"
  {% if game.solving_enabled %} checked {% endif %} >
Enable answer submission
</label><br>
<label><input type="checkbox" name="voting_enabled" value="true"
  {% if game.voting_enabled %} checked {% endif %} >
Enable voting on puzzles
</label><br>
<label><input type="checkbox" name="results_enabled" value="true"
  {% if game.results_enabled %} checked {% endif %} >
Publish final results
</label><br>

</p>

<h3>Access to this admin page</h3>

<textarea name="admin_users" cols="40" rows="5" class="leftside">
{{ game.admin_users|join:"&#10;" }}</textarea>

<p class="rightside">Google usernames (eg. <em>joe.smith@gmail.com</em>),
separated by lines or commas.</p>

<h3><button>Submit changes</button></h3>
</form>

</div></body></html>  <!-- end .pagecontent -->
