<html>
<head>
<title>Iron Puzzler</title>
<link rel="stylesheet" href="static/style.css">
</head>
<body>

<div class="header"><img src="static/banner.png"/></div>
<div class="content">

{% if ingredients_visible %}
  <h2>The secret ingredients are:</h2>
  {% for ingredient in ingredients %}
    <h3 class="ingredient">{{ ingredient }}</h3>
  {% endfor %}
{% endif %}

<p>Iron Puzzler is a two-day weekend event where contesting teams
create puzzles on the first day and solve puzzles on the second day.</p>

</div>  <!-- end .content -->

</body>
</html>
