<html>
<head>
<title>{{ team.name }} - Iron Puzzler</title>
<link rel="stylesheet" href="static/style.css">
</head><body><div class="pagecontent">
<form action="/team" method="post">

<h2><a href="/">Iron Puzzler</a> &raquo; Team: {{ team.name }}</h2>
<input type="hidden" name="t" value="{{ team.key_id }}">

{% if error.set_password %}
  <p class="error">New password confirmation did not match!</p>
{% endif %}

<h3>Puzzles</h3>

{% for puzzle in puzzles %}
<h4 class="item">
  <a href="/puzzle?t={{ team.key_id }}&p={{ puzzle.key_name }}">
    {% if puzzle.number %} #{{ puzzle.number }} {% endif %}
    {{ puzzle.title|default:"Untitled" }}</a>
  ({{ puzzle.key_name }})
</h4>
{% endfor %}

<h3>Team Account</h3>

<p>
<label>Team name:
<input type="text" name="name" value="{{ team.name }}" size=30></label><br>
<label>Set password: <input type="password" name="set_password" size=10></label>
<label>confirm: <input type="password" name="confirm_password" size=10></label>
</p>

<p><button>Submit changes</button></p>
</form>
</div></body></html>  <!-- end .pagecontent -->
