<html>
<head>
<title>{{ team.name }} - Iron Puzzler</title>
<link rel="stylesheet" href="static/style.css">
</head><body><div class="pagecontent">

<h2><a href="/">Iron Puzzler</a> &raquo; {{ team.name }}</h2>

{% if error.set_password %}
  <p class="error">New password confirmation did not match!</p>
{% endif %}

{% if game.solving_enabled %}
<h3>Solving</h3>

<table cellpadding=0 cellspacing=0 border=0>
{% for puzzle in other_puzzles %}
  <tr>
    <td style="width: 2em">#{{ puzzle.number }}&nbsp;</td>
    <td>{{ puzzle.title|default:"Untitled" }}&nbsp;</td>
    <td style="width: 1em">&nbsp;</td>
    <td>
      <form action="/guess" method="post">
        {% if puzzle.solve_time %}
          <b style="color: #66FF66">SOLVED</b>
          {{ puzzle.solve_time|timesince }} ago
        {% else %}
          <input type="hidden" name="t" value="{{ team.key_id }}">
          <input type="hidden" name="n" value="{{ puzzle.number }}">
          <input type="text" name="answer" size=20>
          <button>Submit</button>
        {% endif %}
        {% if puzzle.guess_count %}
          (<a href="/guess?t={{ team.key_id }}&n={{ puzzle.number }}">{{ puzzle.guess_count }} attempt{{ puzzle.guess_count|pluralize }}</a>)
        {% endif %}
      </form>
    </td>
  </tr>
{% endfor %}
</table>

{% endif %}  {# solving_enabled #}

<h3>Errata</h3>

{% if errata_puzzles %}
  {% for puzzle in errata_puzzles|dictsortreversed:"errata_timestamp" %}
    <h4>
      {% if puzzle.number %} #{{ puzzle.number }} {% endif %}
      {{ puzzle.title|default:"Untitled" }}</a>
    </h4>
    <div class="quoted">{{ puzzle.errata|linebreaks }}</div>
    <p class="quoted"><em>({{ puzzle.errata_timestamp|timesince }} ago)</em></p>
  {% endfor %}
{% else %}
  <p><em>No puzzles have posted errata yet.</em></p>
{% endif %}

<h3>Your puzzles</h3>

{% if team_puzzles %}
  {% for puzzle in team_puzzles %}
    <h4 class="item">
      <a href="/puzzle?t={{ team.key_id }}&p={{ puzzle.key_name }}">
        {% if puzzle.number %} #{{ puzzle.number }} {% endif %}
        {{ puzzle.title|default:"Untitled" }}</a>
      ({{ puzzle.key_name }})
    </h4>
  {% endfor %}
{% else %}
  <p><em>Your puzzles have not been assigned yet.</em></p>
{% endif %}

{% if game.ingredients_visible %}
  <p>Ingredients: <b>{{ game.ingredients|join:", " }}</b></p>
{% endif %}

<h3>Team account</h3>

<form action="/team" method="post">
<input type="hidden" name="t" value="{{ team.key_id }}">

<p>
<label>Team name:
  <input type="text" name="name" value="{{ team.name }}" size=30></label><br>
<label>Contact email:
  <input type="text" name="email" value="{{ team.email }}" size=30></label><br>
<label>Change password:
  <input type="password" name="set_password" size=10></label>
<label>confirm:
  <input type="password" name="confirm_password" size=10></label><br>
</p>

<p><button>Submit changes</button></p>
</form>
</div></body></html>  <!-- end .pagecontent -->
