<html>
<head>
<title>Admin - Iron Puzzler</title>
<link rel="stylesheet" href="static/style.css">
</head><body><div class="pagecontent">

<h2 style="margin-bottom: 0">
<a href="/">Iron Puzzler</a> &raquo; Administration</h2>

<p style="margin-top: 0">
<em>{{ user_email }}</em>
(<a href="{{ user_logout_url }}">sign out to change users</a>).</p>

{% if user_ok %}

<form action="/admin" method="post">
<h3>Secret ingredients</h3>

<p>
1. <input type="text" name="ingredient0" value="{{ game.ingredients.0 }}"> 
2. <input type="text" name="ingredient1" value="{{ game.ingredients.1 }}"> 
3. <input type="text" name="ingredient2" value="{{ game.ingredients.2 }}"> 
<label>
  <input type="checkbox" name="ingredients_visible" value="true"
    {% if game.ingredients_visible %} checked {% endif %} >
  Make visible
</label>
</p>

<h3>Teams</h3>

<table cellpadding=0 cellspacing=0 border=0>
<tr>
  <td>PP#</td> <td>&nbsp;&nbsp;</td>
  <td>NP#</td> <td>&nbsp;&nbsp;</td>
</tr>
{% for team in teams %}
  <tr>
    <td align="center">{{ team.numbers.paper }}</td> <td> </td>
    <td align="center">{{ team.numbers.nonpaper }}</td> <td> </td>
    <td><a href="/team?t={{ team.key_id }}">{{ team.name }}</a></td>
  </tr>
{% endfor %}
<tr>
  <td colspan=4><label for="add_team">Add team:</label></td>
  <td>
    <input type="text" name="new_team" id="add_team" size="40">
    <label>p/w: <input type="text" name="new_password" size="20"></label>
  </td>
</tr>
</table>

<p><label><input type="checkbox" name="assign_numbers" value="true">
Assign puzzle numbers now
</label><br>
<label><input type="checkbox" name="login_enabled" value="true"
  {% if game.login_enabled %} checked {% endif %} >
Enable team logins
</label></p>

<h3>Access to this admin page</h3>

<textarea name="admin_users" cols="40" rows="5" class="leftside">
{% for user in game.admin_users %}{{ user }}
{% endfor %}</textarea>

<p class="rightside">Google usernames (eg. <em>joe.smith@gmail.com</em>),
separated by lines or commas.</p>

<p><button>Submit changes</button></p>
</form>

{% else %} {# not user_ok #}

<h3 class="error">Admin access denied</h3>

{% endif %} {# user_ok #}

</div></body></html>  <!-- end .pagecontent -->
