<html>
<head>
<title>
  {% if puzzle.number %} #{{ puzzle.number }} {% endif %}
  {{ puzzle.title }} ({{ puzzle.key_name }})
  - {{ team.name }} - Iron Puzzler
</title>
<link rel="stylesheet" href="static/style.css">
</head><body><div class="pagecontent">

<h2>
  <a href="/">Iron Puzzler</a> &raquo;
  <a href="/team?t={{ team.key_id }}">{{ team.name }}</a> &raquo;
  Puzzle {% if puzzle.number %} #{{ puzzle.number }} {% endif %}
  ({{ puzzle.key_name }})
</h2>

<form action="/puzzle" method="post">
<input type="hidden" name="t" value="{{ team.key_id }}">
<input type="hidden" name="p" value="{{ puzzle.number }}">

<h3>Title:
<input type="text" name="title" value="{{ puzzle.title }}" size=30></h3>

{% if game.results_enabled and comments %}
<h3>Comments</h3>
  {% for comment in comments %}
    {% if not forloop.first %}
      <p style="padding-left: 15px">&middot; &middot; &middot;</p>
    {% endif %}
    {{ comment|linebreaks }}
  {% endfor %}
{% endif %}

<h3>Answers</h3>

<input type="hidden" name="answers.orig" value="{{ puzzle.answers|urlencode }}">
<textarea name="answers" wrap="off" cols="30" rows="5" class="leftside">
{{ puzzle.answers }}</textarea>
<p class="rightside">Correct answers to the puzzle, one per line.
Capitalization, punctuation, and spacing are ignored.</p>

<h3>Errata</h3>

<input type="hidden" name="errata.orig" value="{{ puzzle.errata|urlencode }}">
<textarea name="errata" cols="60" rows="6" class="leftside">
{{ puzzle.errata }}</textarea>
<p class="rightside">Notes to address problems discovered on game day.
Visible to all teams.</p>

<h3>Solution</h3>

<input type="hidden" name="solution.orig" value="{{ puzzle.solution|urlencode }}">
<textarea name="solution" cols="60" rows="15" class="leftside">
{{ puzzle.solution }}</textarea>
<p class="rightside">Complete walkthrough.
Visible to all teams once voting starts.</p>

<h3><button>Submit changes</button></h3>
</form>
</div></body></html>  <!-- end .pagecontent -->
