<html>
<head>
<title>{{ team.name }} - Iron Puzzler</title>
<link rel="stylesheet" href="static/style.css">
</head><body><div class="pagecontent">

<h2><a href="/">Iron Puzzler</a> &raquo; {{ team.name }}</h2>

{% if error.set_password %}
  <p class="error">New password confirmation did not match!</p>
{% endif %}

{% if game.voting_enabled or game.results_enabled %}
<h3>Voting</h3>

<form action="/team" method="post">
<input type="hidden" name="t" value="{{ team.key_id }}">

<table>
  <tr>
    <td> </td>
    <td>Fun</td>
    <td>Pres.</td>
    <td>Ingr.</td>
  </tr>
{% for puzzle in other_puzzles %}
  <tr>
    <td><nobr><a href="/guess?t={{ team.key_id }}&p={{ puzzle.number }}">#{{ puzzle.number }} {{ puzzle.title }}</a></nobr></td>
    {% for score in puzzle.feedback.scores %}
      <td>
        <input type="hidden"
               name="score.{{ puzzle.number }}.{{ forloop.counter0 }}.orig"
               value="{% if score >= 0 %}{{ score }}{% endif %}">
        <input type="text" size="3"
               {% if not game.voting_enabled %} disabled="disabled" {% endif %}
               name="score.{{ puzzle.number }}.{{ forloop.counter0 }}"
               value="{% if score >= 0 %}{{ score }}{% endif %}">
      </td>
    {% endfor %}
    {% if forloop.first %}
    <td valign="top" rowspan="{{ other_puzzles|length }}">
      (Numeric scores, 0.0-10.0)
      <p>Click the puzzle to see the solution or leave the author comments.</p>
    </td>
    {% endif %}
  </tr>
{% endfor %}
</table>

{% if game.voting_enabled %}
<button>Save votes</button>
{% endif %}
</form>

{% endif %}  {# voting_enabled #}

{% if game.solving_enabled %}
<h3>Solving</h3>

<table>
{% for puzzle in other_puzzles %}
  <tr>
    <td>
      #{{ puzzle.number }} {{ puzzle.title }}
    </td>
    <td>
      {% if puzzle.solve_teams %}
        <span title="{{ puzzle.solve_teams|length }} team{{ puzzle.solve_teams|length|pluralize }} solved #{{ puzzle.number }} &quot;{{ puzzle.title }}&quot;">
          {{ puzzle.solve_teams|length }}
          solve{{ puzzle.solve_teams|length|pluralize }}
        </span>
      {% endif %}
    </td>
    <td>
      <form action="/guess" method="post">
        {% if puzzle.solve_time %}
          <b class="guess_correct">SOLVED</b>
          {{ puzzle.solve_time|timesince }} ago
        {% else %}
          <input type="hidden" name="t" value="{{ team.key_id }}">
          <input type="hidden" name="p" value="{{ puzzle.number }}">
          <input type="text" name="answer" size=20>
          <button>Submit</button>
        {% endif %}
        {% if puzzle.guess_count %}
          (<a href="/guess?t={{ team.key_id }}&p={{ puzzle.number }}">{{ puzzle.guess_count }} attempt{{ puzzle.guess_count|pluralize }}</a>)
        {% endif %}
      </form>
    </td>
  </tr>
{% endfor %}
</table>

<h3>Errata</h3>

{% for puzzle in errata_puzzles|dictsortreversed:"errata_timestamp" %}
  <h4>
    #{{ puzzle.number }} {{ puzzle.title }}
    <em>({{ puzzle.errata_timestamp|timesince }} ago)</em>
  </h4>
  <div style="padding-left: 25px">
    {{ puzzle.errata|linebreaks }}
  </div>
{% empty %}
  <p><em>No puzzles have posted errata yet.</em></p>
{% endfor %}

{% endif %}  {# solving_enabled #}

<h3>Your puzzles</h3>

{% for puzzle in team_puzzles %}
  <h4 class="item">
    <a href="/puzzle?t={{ team.key_id }}&p={{ puzzle.number }}">
      #{{ puzzle.number }} {{ puzzle.title }}</a>
    ({{ puzzle.key_name }})
  </h4>
{% empty %}
  <p><em>Your puzzles have not been assigned yet.</em></p>
{% endfor %}

{% if game.ingredients_visible %}
  <p>Ingredients: <b>{{ game.ingredients|join:", " }}</b></p>
{% endif %}

<h3>Team account</h3>

<form action="/team" method="post">
<input type="hidden" name="t" value="{{ team.key_id }}">

<p>
<label>Team name:
  <input type="text" name="name" value="{{ team.name }}" size=30></label><br>
<label>Contact email:
  <input type="text" name="email" value="{{ team.email }}" size=30></label><br>
<label>Change password:
  <input type="password" name="set_password" size=10></label>
<label>confirm:
  <input type="password" name="confirm_password" size=10></label><br>
</p>

<button>Update account</button>
</form>
</div></body></html>  <!-- end .pagecontent -->
