body {
  font-family: Arial, sans-serif;
}

form {
  margin-bottom: 0;
}

.pageheader {
  background-color: black;
  height: 200px;
  text-align: center;
}

.pagecontent {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding-right: 100px;
}

.leftside {
  float: left;
  margin-right: 1em;
}

.rightside {
  margin-left: 1em;
}

.rightside:after {
  content: "";
  display: block;
  clear: both;
}

.error {
  color: #FF0000;
}

.item {
  margin-top: 0.5em;
  margin-left: 2em;
  margin-bottom: 0.5em;
}
